*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Roboto', sans-serif;
}

.clear{
    clear: both;
}

.center{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
}

header{
    padding: 10px 0;
    background-color: #333;
    color: white;
}
.logo{
    float: left;
}
.menu{
    float: right;
    position: relative;
    top: 2px;
}
nav.menu ul{
    list-style-type: none;
    
}
nav.menu li{
    display: inline-block;
    padding: 10px;
}
nav.menu a{
    color: white;
    text-decoration: none;
}
section.reserva{
    padding: 40px 0;
    text-align: center;
}
section.reserva select{
        width: 100%;
        height: 30px;
        border: 1px solid black;
        cursor: pointer;
        text-align: center;
}
section.reserva input[type=text]{
    text-align: center;
    width: 50%;
    margin: 20px;
    height: 30px;
    border: 1px solid black;
}


section.reserva input[type=submit]{
    width: 200px;
    height: 30px;
    margin: 20px;
    cursor: pointer;
    color: white;
    background-color: blue;
    border: 0;
}
.sucesso{
    width: 100%;
    margin: 10px 0;
    padding: 8px 15px;
    background-color: #ffc107;
    
}

section.agendamentos{
    padding: 30px 0;
}

.box-single{
    float: left;
    width: 33.3%;
    
    padding: 10px;
}

.box-single-wraper{
   padding: 10px;
    background-color: #ccc;
}